@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}
/* Otimização da barra de rolagem */
html {
  overflow-x: hidden;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: .5rem;
  height: 0.25px;
}
html::-webkit-scrollbar-track {
  /* background: transparent; */
  background: inset 0 0 5px #a5aaad;
}
html::-webkit-scrollbar-thumb {
  background: #8161ff;
  border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
  background:#7a5bf6;
  cursor: pointer;
}

/* CSS personalizado para botões de navegação */
.slick-prev {
  display: none !important;
  left: 0px !important;
}
.slick-next {
  display: none !important;
  right: 0px !important;
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px!important;
  z-index: 2 !important; /* Garantir que os botões estejam acima de outros elementos */
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}
.slider-container:hover .slick-slider .slick-prev,.slider-container:hover .slick-slider .slick-next{
  display: block !important;
}
/* Botão indicadores de navegação */
/* Estilização dos dots (pontos de navegação) */
.slick-dots {
  bottom: 20px !important; /* Ajuste a posição vertical */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position:absolute !important;
  z-index: 3 !important;
}

.slick-dots li {
  margin: 0 5px !important; /* Espaçamento entre os dots */
}

.slick-dots li button:before {
  font-size: clamp(8px,0.92vw,14px) !important; /* Tamanho dos dots */
  color: #f2f2f2 !important; /* Cor dos dots */
  opacity: 0.5 !important; /* Opacidade dos dots inativos */
}

.slick-dots li.slick-active button:before {
  color: #fff !important; /* Cor dos dots ativos */
  opacity: 1 !important; /* Opacidade dos dots ativos */
}

